# プロジェクトが想定するnodeおよびnpmのバージョンでないとき、パッケージインストールを失敗させる
# https://docs.npmjs.com/cli/v8/using-npm/config?v=true#engine-strict
engine-strict=true

# プロジェクトでのみ使うオリジナルパッケージのレジストリを設定する
# .envで設定
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
@matzryo:registry=https://npm.pkg.github.com
